<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">

    <title>TweetSpeaks - Twitter Sentiments Analysis</title>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/bootstrap-theme.css" rel="stylesheet">

    <!-- siimple style -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<div id="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h1>TweetSpeaks</h1>
					<h2 class="subtitle">Twitter Sentiment Analysis by - Naive Bayes, Maximum Entropy and Polarity Score</h2>
					<!--<div id="countdown"></div>!--><br/><br/>
					<form class="form-inline signup" action="" method="post" role="form">{% csrf_token %}
					  <div class="form-group">
					    <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter the keyword to search Tweet">!-->
						{{form.keyword}}
					  </div>
					  <button type="submit" class="btn btn-theme">Search!</button>
					</form>		
				</div>
				
			</div>
			<br/><br/>
			{% if results != "" %}
			<div class = "row">
			<h2 class = "subtitle">
				<center><table bgcolor="grey" border = "2px solid black" width= "1000px" id='sentiments'>
					<tr script = {padding:2px;}>
					<td  width ="55%">Tweet</td><td width ="15%">Bayes</td><td width ="15%">Entropy</td><td width ="15%">Polarity</td></h2>
					</tr>
					{% for bbc in results %}
					<tr>
						<td><h4><font color = "#00FFFF">{{bbc.0}}</font></h4></td>
						<td><h4><font color = {% if bbc.1 == "positive" %} "#66FF33" {% elif bbc.1 == "negative" %} "red" {% else %}"yellow" {% endif %}>{{bbc.1}}</font></h4></td>
						<td><h4><font color = {% if bbc.2 == "positive" %} "#66FF33" {% elif bbc.2 == "negative" %} "red" {% else %}"yellow" {% endif %}>{{bbc.2}}</font></h4></td>
						<td><h4><font color = {% if bbc.3 == "positive" %} "#66FF33" {% elif bbc.3 == "negative" %} "red" {% else %}"yellow" {% endif %}>{{bbc.3}}</font></h4></td>
					</tr>
					{% endfor  %}
				</table>
				</center>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
						<p class="copyright">Self Project By - <a href="rajesh.iiitm.in">Rajesh Kumar</a></p>
				</div>
			</div>		
		</div>
	</div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.countdown.min.js"></script>
	<script type="text/javascript">
  $('#countdown').countdown('2015/01/01', function(event) {
    $(this).html(event.strftime('%w weeks %d days <br /> %H:%M:%S'));
  });
</script>
  </body>
</html>
